body {
    background-color: blanchedalmond;
}

.form-head {
    margin-top: 2rem;
    margin-left: 3rem;
}

.form-fields {
    margin-top: 2rem;
    margin-left: 3rem;
}

form {
    padding: 2rem;
}

label {
    margin: 1.2rem;
}

#task-list {
    border: solid black 2px;
    padding: 1.2rem;
    background-color: lawngreen;
}

.sort {
    float: right;
    padding: 10px;
    margin: 1.2rem;
}

.sort-header {
    color: black;
    font-size: 30px;
}

#add {
    margin-left: 2rem;
}

.task-header {
    background-color: honeydew;
    width: fit-content;
    padding: 1.2rem;
}

ul li {
    padding: 1.2rem;
}

ul {
    list-style: none;
}

.notes {
    list-style: square;
}

.card-header {
    background-color: khaki;
    border: dotted white 3px;
}

.show {
    background-color: lightblue;
}

.notes {
    background-color: lightcoral;
    border: solid rebeccapurple 3px;
}

.textarea {
    margin-top: 1.2rem;
    width: 100%;
}

h1 {
    color: seagreen;
}